//-------------------------
//----------------VARIABLES
//-------------------------



//-----COLORS
$white      : #FFF;
$black      : #000;
$swan		:#b2b2b2;
$cinnabar	:#eb2929;
$fireRed: #b81c1d;
$whiteSmoke :#F0F0F0;
$lightGray	:#cccccc;
$doveGray :#666666;
$whiteSmoke: #f5f5f5;


//------MEDIA QUERIES
$wideScreen  : 1026px;
$desktop 	   : 1025px;
$toDesktop   : 1024px;
$tablet 	   : 1024px;
$phone       : 750px;


//------FONTS
$fontDefault     : Arial, Helvetica, Tahoma, sans-serif;
$baseFont        : 'Open Sans', $fontDefault;
$proFont         : "CenturyGothicBold", $fontDefault;
$fontFontello    : "fontello";
