//-------------------------
//-------------------BLOCK ARTICLE LIST
//-------------------block latest function in tpl
//-------------------------



.article {

  @extend .clearfix;

  display: inline-block;
  vertical-align: top;


  min-height: 1px;

  position: relative;
 width: 24.4%;
 padding-right: 1.7rem;

  @include breakpoint (toDesktop) {
	  padding-left: 1.7rem;
     padding-right: 1.7rem;
     width: 49.7777%;
  }


  .article-content {
    margin-top: 1.1rem;
 margin-bottom: 5.3rem;

    @include breakpoint (tablet) {
      margin-top: 1.5rem;
      margin-bottom: 5.2rem;
    }
  @include breakpoint (tablet) {
    margin-top: 2.8rem;
     margin-bottom: 7rem;
  }
  }
  img {
    width: 100%;
  }

  @import "text";

}

