//-------------------------
//-------------------BLOCK ARTICLE LIST
//-------------------------
.b-list {

	@extend .clearfix;
	margin-right: -3.8rem;

	@include breakpoint (toDesktop) {
		margin-left: -2rem;
		margin-right: -2rem;
	}

	@import "article";
}
