//-------------------------
//-------------------HEADER menu triggers
//-------------------------

&__menutriggers {
	display: none;

@include breakpoint (toDesktop) {
	display: block;
	position: absolute;
	z-index: 2;
}
	@include breakpoint (tablet) {
	top:7.8rem;
	right:7rem;
}

	@include breakpoint (phone) {

	top:9rem;
	right:5.4rem;

}
}
