//-------------------------
//-------------------HEADER menu
//-------------------------

&__menuwrapper {
  position: relative;

  float: right;
   width: 50%;
   text-align: right;


@include breakpoint (toDesktop) {
	display: none;
	float: left;
	text-align: left;
	 width: 100%;
}
  @include breakpoint (tablet) {
    top: 13.8rem;

  }
  @include breakpoint (phone) {
    top: 13rem;


  }
}


&__menu {
  position: relative;

    display: inline-block;

    right: 4.5rem;
  top: 1rem;



  @include breakpoint (toDesktop) {
    right: auto;
    top: auto;
    display: block;
  }

  @include breakpoint (tablet) {
    padding-bottom: 33rem;
  }
  @include breakpoint (phone) {
    padding-bottom: 32.4rem;
  }
  &--list-item {
    display: inline-block;
    padding: 0 1rem;

    @include breakpoint (toDesktop) {
      display: block;
      padding: auto;
    }

    @include breakpoint (tablet) {
      padding: 0 0rem 5rem;

    }

    @include breakpoint (phone) {
      padding: 0 0rem 4.6rem;

    }
    a {
      color: $black;
      font-weight: normal;

font-size: 1.5rem;
  font-family: $proFont ;

      @include breakpoint (toDesktop) {
        font-weight: 700;
        color: $lightGray;
        font-size: 7rem;
      }


    }


}
&:after {
  border-top: 0.2rem solid $black;
  content: "";
  position: absolute;
  right: -2.8rem;
  top: 0.7rem;
  width: 1.5rem;

    @include breakpoint (toDesktop) {
      content: "";
      border-top: none;
    }


}
}
