//-------------------------
//-------------------HEADER on page tag
//-------------------------

&.page-tag {
	background-color: $cinnabar;


	.b-header__menu {
	  &--list-item {
	    a {
	      color: $white;
	    }
	  }
	  &:after {
	    border-top: 0.2rem solid $white;
		@include breakpoint (toDesktop) {
		  content: "";
		  border-top: none;
		}
	  }
	}

	.b-header__socials {
		a {
			color: $white;
		}
	}

}
