//-------------------------
//-------------------FOOTER
//-------------------------
.b-footer {
  @extend .clearfix;
  position: relative;
  background-color: $whiteSmoke;
  margin: 0 auto;
  text-align: center;

    padding-top: 5.6rem;
  padding-bottom: 3.4rem;



   @include breakpoint (tablet) {
padding-bottom: 4.2rem;
 padding-top: 7.5rem;
 }
   @include breakpoint (phone) {
  padding-top: 10.15rem;
}

      @import "logo";
        @import "social";
        @import "list";
}
